{% extends 'templates/app.twig' %}

{% block pageTitle %}Explore - {{ time|capitalize }}{% endblock pageTitle %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Explore: {{ time|capitalize }}</h2>
                    <h5 class="lead text-muted">Discover popular content on {{ app.name }}</h5>
                </div>

                <div class="card-body pb-0">

                    <ul class="nav page-nav nav-pills flex-column flex-sm-row">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('explore') }}">New</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('explore.random') }}">Random</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Popular</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item{% if time == 'week' %} active{% endif %}" href="{{ path_for('explore.popular', {time : 'week'}) }}">This Week</a>
                                <a class="dropdown-item{% if time == 'month' %} active{% endif %}" href="{{ path_for('explore.popular', {time : 'month'}) }}">This month</a>
                                <a class="dropdown-item{% if time == 'year' %} active{% endif %}" href="{{ path_for('explore.popular', {time : 'year'}) }}">This Year</a>
                                <a class="dropdown-item{% if time == 'all-time' %} active{% endif %}" href="{{ path_for('explore.popular', {time : 'all-time'}) }}">All time</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


        <div class="col-12 my-4">

            {% if not questions is empty %}
                {% for question in questions %}
                    {% include 'templates/question/question_global.twig' %}
                {% endfor %}
                {{ questions.links | raw }}
            {% else %}
                <h5 class="test-muted">Couldn't find any questions.</h5>
            {% endif %}

        </div>

    </div>

{% endblock %}