<p>Hello {{ user.username }},</p>
<p>Thank you for signing up to {{ app.name }}.</p>
<p>Before you can sign in, you'll first need to activate your account.</p>
<p>
    Go to the following link: <a href="{{ app.baseUrl }}{{ path_for('auth.activate') }}?email={{ user.email }}&id={{ identifier }}">Activate your account</a>
</p>
<p>
    {{ app.baseUrl }}{{ path_for('auth.activate') }}?email={{ user.email }}&identifier={{ identifier }}
</p>