<div class="card question mb-3" id="question-{{ question.id }}">
    <div class="card-body">

        <div class="row">
            <div class="col-1">
                <a href="{{ path_for('userProfile', {user: question.sender().username}) }}">{{ question.sender().getAvatar({size : 55}) | raw }}</a>
            </div>

            <div class="col-11">
                <a href="{{ path_for('userProfile', {user: question.sender().username}) }}" class="font-weight-bold">
                    {{ question.sender().username }}
                </a>
                {% if question.anonymous %}[As anonymous]{% endif %} asked
                <a href="{{ path_for('userProfile', {user: question.receiver().username}) }}">{{ question.receiver().username }}</a> ...

                <div>{{ question.text }}</div>
                {% if question.answered %}
                    <div class="m-2 text-muted">
                        {{ question.answer.text | raw }}
                        {% if question.answer.uploaded_image %}<img class="answer-image" src="{{ base_url() }}/assets/uploads/answers/{{ question.answer.uploaded_image }}">{% endif %}
                    </div>
                {% else %}
                    <div class="m-2">[Not answered]</div>
                {% endif %}
                <small class="text-muted" title="{{ question.timestamp('created_at') }}">{{ question.readableTime('created_at') }}</small>
                {% if question.answered %}<small class="m-2 text-muted" title="{{ question.timestamp('answered_at') }}">(Answered: {{ question.readableTime('answered_at') }})</small>{% endif %}

            </div>
        </div>

        <div class="row text-center">
            <div class="col">
                {% if not question.favorited() %}
                    <span class="icon ion-heart button fav-button" title="Favorite" onclick="favorite({{ question.id }});"></span>
                {% else %}
                    <span class="icon ion-heart button fav-button active" title="Unfavorite" onclick="deleteFavorite({{ question.id }});"></span>
                {% endif %}
            </div>
            <div class="col">
                <span class="icon ion-android-more-horizontal button misc-button" title="Menu"></span>
            </div>
        </div>

    </div>
</div>