<div class="card question mb-3" id="question-{{ question.id }}">
    <div class="card-body">

        <div class="row">
            <div class="col-lg-1">
                {% if not question.anonymous %}
                    <a href="{{ path_for('userProfile', {user: question.sender().username}) }}">{{ question.sender().getAvatar({size : 55}) | raw }}</a>
                {% else %}
                    <a href="#"><img id="user-avatar" src="{{ base_url() }}/assets/default_avatar.png" alt="Anonymous" width="55px"></a>
                {% endif %}
            </div>

            <div class="col-lg-10 question-main">
                {% if not question.anonymous %}
                    <a href="{{ path_for('userProfile', {user: question.sender().username}) }}" class="font-weight-bold">{{ question.sender().username }}</a> asked
                    <a href="{{ path_for('userProfile', {user: question.receiver().username}) }}">{{ question.receiver().username }}</a> ...
                {% else %}
                    <a href="#" class="font-weight-bold">Anonymous</a> asked
                    <a href="{{ path_for('userProfile', {user: question.receiver().username}) }}">{{ question.receiver().username }}</a> ...
                {% endif %}
                <div>{{ question.text }}</div>
                <div class="m-2 text-muted">
                    {{ question.answer.text | raw }}
                    {% if question.answer.uploaded_image %}<img class="answer-image" src="{{ base_url() }}/assets/uploads/answers/{{ question.answer.uploaded_image }}">{% endif %}
                </div>
                <small class="text-muted" title="{{ question.timestamp('answered_at') }}">{{ question.readableTime('answered_at') }}</small>
            </div>
        </div>

        <hr>

        <div class="row text-center">
            {% if auth.check %}
                <div class="col">
                    {% if not question.favorited() %}
                        <span class="icon ion-heart button fav-button" title="Favorite" onclick="favorite({{ question.id }});"></span>
                    {% else %}
                        <span class="icon ion-heart button fav-button active" title="Unfavorite" onclick="deleteFavorite({{ question.id }});"></span>
                    {% endif %}
                </div>
                {% if auth.user.id == question.receiver().id %}
                    <div class="col">
                        <span class="icon ion-trash-b button delete-button" title="Delete" onclick="confirmDeleteReceivedQuestion({{ question.id }});"></span>
                    </div>
                {% endif %}
            {% else %}
                <div class="col">
                    <a href="{{ path_for('question.favorite', {id : question.id}) }}"><span class="icon ion-heart button fav-button" title="Favorite"></span></a>
                </div>
            {% endif %}
            <div class="col">
                <div class="dropdown">
                    <span class="icon ion-android-more-horizontal button misc-button" title="Menu" id="question_dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                    <div class="dropdown-menu" aria-labelledby="question_dropdown">
                        <button class="dropdown-item" type="button">Report</button>
                        {% if auth.check and question.sender().id != auth.user.id %}<button class="dropdown-item" type="button" onclick="confirmBlockUser({{ question.id }}, true);">Block user</button>{% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>