{% extends 'templates/app.twig' %}

{% block pageTitle %}Change Password{% endblock %}

{% block content %}

    <div class="row">

        {% include 'account/partials/sidenav.twig' %}

        <div class="col-md-6" style="margin-bottom:1em;">

            <div class="card">
                <div class="card-header">
                    <h3>Change Password</h3>
                </div>

                <form action="{{ path_for('account.password') }}" method="post" autocomplete="off" class="change-password-form">

                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-control-label" for="password_current">Current Password</label>
                            <input type="password" class="form-control{% if errors.password_current %} error{% endif %}" id="password_current" name="password_current" placeholder="Enter your current password">
                            {% if errors.password_current %} <div class="form_errors">{{ errors.password_current | first }}</div> {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="password_new">New Password</label>
                            <input type="password" class="form-control{% if errors.password_new %} error{% endif %}" id="password_new" name="password_new" aria-describedby="newpasswordHelp" placeholder="Enter a new password">
                            {% if errors.password_new %} <div class="form_errors">{{ errors.password_new | first }}</div> {% endif %}
                            <small id="newpasswordHelp" class="form-text text-muted">Must be a minimum of 6 characters long.</small>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="confirm_password">Confirm New Password</label>
                            <input type="password" class="form-control{% if errors.confirm_password %} error{% endif %}" id="confirm_password" name="confirm_password" placeholder="Confirm your new password">
                            {% if errors.confirm_password %} <div class="form_errors">{{ errors.confirm_password | first }}</div> {% endif %}
                        </div>

                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success" data-submit-value="Changing...">Change Password</button>

                        {{ csrf.field | raw }}
                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h3>Password Tips</h3>
                </div>

                <div class="card-body">
                    <p class="text-muted">To keep your account secure, we recommend a password with no less than 6 characters. </p>
                    <p class="text-muted">
                        The longer the password the better, but you could also include numbers and symbols too.
                    </p>
                    <p class="text-muted">Remember: <a href="https://xkcd.com/936/" target="_blank" rel="noopener noreferrer">length beats complexity!</a></p>
                </div>
            </div>
        </div>

    </div>


    <script type="text/javascript">

        $('.change-password-form').on('submit', function() {

            var self = $(this),
                button = self.find('button[type="submit"]'),
                submitValue = button.data('submit-value');

            button.attr('disabled', 'disabled').text((submitValue) ? submitValue : 'Please Wait...');
            document.getElementById("ajax-loader").style.visibility = "visible";

        });
    </script>

{% endblock %}
