{% extends 'templates/app.twig' %}

{% block pageTitle %}Profile Settings{% endblock %}

{% block content %}

    <div class="row">

        {% include 'account/partials/sidenav.twig' %}

        <div class="col-md-9">

            <div class="card">

                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <h3>Profile Settings</h3>
                        </div>
                        <div class="col-6 text-right">
                            <a href="{{ path_for('userProfile', {user : auth.user.username}) }}"><button class="btn btn-outline-primary">View Profile</button></a>
                        </div>
                    </div>
                </div>

                <form action="{{ path_for('account.profile') }}" method="post" autocomplete="off" class="profile-settings-form">

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-6">
                                <h4 class="text-muted">Info</h4>
                                <hr>

                                <div class="form-group">
                                    <label class="form-control-label" for="username">Username</label>
                                    <input type="text" class="form-control{% if errors.username %} error{% endif %}" id="username" name="username" value="{% if old_input.username %}{{ old_input.username }}{% else %}{{ auth.user.username }}{% endif %}" aria-describedby="usernameHelp" placeholder="Enter a username">
                                    {% if errors.username %} <div class="form_errors">{{ errors.username | first }}</div> {% endif %}
                                    <small id="usernameHelp" class="form-text text-muted">Must be 3-{{ auth.user.MAX_USERNAME_CHAR }} characters long.</small>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="email">Email</label>
                                    <input type="email" class="form-control{% if errors.email %} error{% endif %}" id="email" name="email" value="{% if old_input.email %}{{ old_input.email }}{% else %}{{ auth.user.email }}{% endif %}" aria-describedby="emailHelp" placeholder="Enter an email">
                                    {% if errors.email %} <div class="form_errors">{{ errors.email | first }}</div> {% endif %}
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="name">Name</label>
                                    <input type="text" class="form-control{% if errors.name %} error{% endif %}" id="name" name="name" value="{% if old_input.name %}{{ old_input.name }}{% else %}{{ auth.user.name }}{% endif %}" placeholder="Enter your name">
                                    {% if errors.name %} <div class="form_errors">{{ errors.name | first }}</div> {% endif %}
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="bio">Bio</label>
                                    <textarea class="form-control{% if errors.bio %} error{% endif %}" id="bio" name="bio" rows="5" placeholder="A few words about yourself.">{% if old_input.bio %}{{ old_input.bio }}{% else %}{{ auth.user.bio }}{% endif %}</textarea>
                                    {% if errors.bio %} <div class="form_errors">{{ errors.bio | first }}</div> {% endif %}
                                </div>

                            </div>
                            <div class="col-md-6">
                                <h4 class="text-muted">Design</h4>
                                <hr>

                                <div class="form-group">
                                    <label class="form-control-label" for="bg_color">Background color</label>
                                    <input class="jscolor {hash:true,required:false} form-control{% if errors.bg_color %} error{% endif %}" id="bg_color" name="bg_color" value="{% if old_input.bg_color %}{{ old_input.bg_color }}{% else %}{{ auth.user.bg_color }}{% endif %}" aria-describedby="bgColorHelp">
                                    {% if errors.bg_color %} <div class="form_errors">{{ errors.bg_color | first }}</div> {% endif %}
                                    <small id="bgColorHelp" class="form-text text-muted">Changes the background color on your profile.</small>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="box_color">Box colors</label>
                                    <input class="jscolor {hash:true,required:false} {required:false} form-control{% if errors.box_color %} error{% endif %}" id="box_color" name="box_color" value="{% if old_input.box_color %}{{ old_input.box_color }}{% else %}{{ auth.user.box_color }}{% endif %}" aria-describedby="boxColorHelp">
                                    {% if errors.box_color %} <div class="form_errors">{{ errors.box_color | first }}</div> {% endif %}
                                    <small id="boxColorHelp" class="form-text text-muted">Changes the background colors of the boxes on your profile (profile sidebar, questions, etc).</small>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="text_color">Text color</label>
                                    <input class="jscolor {hash:true,required:false} {required:false} form-control{% if errors.text_color %} error{% endif %}" id="text_color" name="text_color" value="{% if old_input.text_color %}{{ old_input.text_color }}{% else %}{{ auth.user.text_color }}{% endif %}" aria-describedby="textColorHelp">
                                    {% if errors.text_color %} <div class="form_errors">{{ errors.text_color | first }}</div> {% endif %}
                                    <small id="textColorHelp" class="form-text text-muted">Changes the text color on your profile.</small>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="placeholder">Question placeholder</label>
                                    <textarea class="form-control no-resize{% if errors.placeholder %} error{% endif %}" id="placeholder" name="placeholder" placeholder="Ask me anything">{% if old_input.placeholder %}{{ old_input.placeholder }}{% else %}{{ auth.user.placeholder }}{% endif %}</textarea>
                                    {% if errors.placeholder %} <div class="form_errors">{{ errors.placeholder | first }}</div> {% endif %}
                                    <small id="placeholderHelp" class="form-text text-muted">Changes the placeholder of your question field on your profile.</small>
                                </div>
                            </div>

                        </div>



                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success" data-submit-value="Updating...">Update</button>

                        {{ csrf.field | raw }}
                    </div>

                </form>

            </div>



        </div>


    <script type="text/javascript">
        $('.profile-settings-form').on('submit', function() {
            var self = $(this),
                button = self.find('input[type="submit"], button[type="submit"]'),
                submitValue = button.data('submit-value');

            button.attr('disabled', 'disabled').text((submitValue) ? submitValue : 'Please Wait...');
        });
    </script>

{% endblock %}
