<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <a class="navbar-brand">
        {% if user.username ends with 's' %}
            {{ user.username }}' Profile
        {% else %}
            {{ user.username }}'s Profile
        {% endif %}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('userProfile', {user : user.username}) }}"><span class="ion ion-clipboard"></span> Answers ({{ user.countAnsweredQuestions() }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('userProfile.favorites', {user : user.username}) }}"><span class="icon ion-star"></span> Favorites ({{ user.countListFavorites() }})</a>
            </li>
        </ul>
    </div>
</nav>